# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
build/
dist/

# --- Streamlit & Web ---
.streamlit/
static/

# --- Data Files (Security First) ---
# بنمنع رفع ملفات الداتا عشان بيانات الشركة أو بياناتك الخاصة متطلعش Public
*.csv
*.xlsx
*.xls
*.json
!requirements.txt
!README.md

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
